[user]
	email = sprobie1@gmail.com
	name = LrobieProject
[pull]
	rebase = false
[credential]
    helper = cache --timeout=3600
[init]
	defaultBranch = master
[mergetool "nvim"]
  cmd = nvim -f -c \"Gdiffsplit!\" \"$MERGED\"
[merge]
    tool = nvim
[mergetool]
    prompt = false
