[user]
	email = sprobie1@gmail.com
	name = srobies
[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
	ui = auto
    pager = true
[pull]
	rebase = false
[diff]
    tool = nvimdiff
[difftool]
    prompt = false
[difftool "nvimdiff"]
    cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[merge]
    tool = fugitive
[mergetool "fugitive"]
    cmd = nvim -f -c \"Gvdiffsplit!\" \"$MERGED\" -c \"nnoremap dh :diffget //2<CR>\" -c \"nnoremap dl :diffget //3<CR>\"
[mergetool]
    prompt = false
